.cateItem {
  background-color: #fff;
  margin-bottom: 1.2rem;
}
.cateItem .cate_title {
  color: steelblue;
  font-size: .533333rem;
  font-weight: bold;
  padding-top: 10px;
  text-indent: 1em;
}
.cateItem .cate_content {
  display: flex;
  flex-wrap: wrap;
}
.cateItem .cate_content div {
  display: block;
  width: 33.3%;
  text-align: center;
  margin-bottom: .266667rem;
}
.cateItem .cate_content div img {
  width: 70%;
  display: inline-block;
}
@media screen and (max-width: 400px) {
  .cateItem .cate_content div img {
    width: 60%;
  }
}
.cateItem .cate_content div .cat_name {
  display: block;
  font-size: .32rem;
  color: #666;
}
