.search-area {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
}
.search-area .am-search-input .am-search-synthetic-ph {
  line-height: 17px;
}
.goods-list-bottom {
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  font-size: .373333rem;
  color: #ccc;
  display: flex;
  position: relative;
  align-items: center;
}
.goods-list-bottom .line {
  width: 8rem;
  height: 1px;
  vertical-align: middle;
  background-color: #f2f2f2;
  margin: 0 auto;
  text-align: center;
}
.goods-list-bottom .line span {
  background-color: inherit;
  padding: 0 .533333rem;
  position: absolute;
  top: -50%;
  transform: translate(-50%, 50%);
}
.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.catitems {
  display: flex;
  background-color: #fff;
  padding: .266667rem;
}
.catitems div {
  flex: 1;
  text-align: center;
}
.catitems div img {
  margin: 0 auto;
  width: 50%;
}
.goodsList .goods > img {
  display: block;
}
.goodsList .goods .good {
  width: 49.5%;
  border-radius: .533333rem;
  padding: .266667rem;
  margin-top: .16rem;
  background-color: #fff;
}
.goodsList .goods .good .good_content img {
  width: 60%;
  margin: 0 auto;
  display: block;
}
.goodsList .goods .good .good_content .describe {
  font-size: .346667rem;
  color: #333;
  padding: .266667rem .133333rem;
}
.goodsList .goods .good .good_content .price {
  font-size: .346667rem;
  color: red;
}
.goodsList .goods .good .search-similar {
  border: 1px solid #108ee9;
  display: block;
  margin: 10px auto;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: .373333rem;
  color: #108ee9;
}
