header {
  height: 3.2rem;
  width: 10rem;
  background-color: #33A3F4;
}
header .title {
  text-align: center;
  padding-top: .266667rem;
  font-size: .48rem;
  color: #fff;
}
header .avatar {
  display: flex;
  align-items: center;
}
header .avatar .wrapper {
  width: 1.466667rem;
  height: 1.466667rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  margin-left: .133333rem;
  justify-content: center;
}
header .avatar .wrapper .icon-icontouxiang {
  font-size: 1rem;
  margin: 0 auto;
  color: skyblue;
}
header .avatar span {
  color: #fff;
  font-size: .48rem;
  margin-left: .133333rem;
}
header .goto-login {
  width: 2.666667rem;
  color: #fff;
  border: 1px solid #fff;
  background-color: inherit;
  padding: .266667rem;
  border-radius: .133333rem;
  font-size: .373333rem;
}
.my-order {
  height: 1.333333rem;
  background-color: #fff;
  line-height: 1.333333rem;
  padding-left: .266667rem;
  color: #5f5b5b;
  font-size: .426667rem;
}
