.bottom-button {
  width: 30%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star {
  color: red;
}
.get-code {
  display: block;
  width: 117px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: -17px;
  transform: translateY(47%);
  background-color: #ccc;
  color: white;
  font-size: 14px;
}
